// @activeColor: #27ae60; //green
// @darkenColor: darken($activeColor, 20%);

// font-family: 'Stint Ultra Expanded', cursive;
// font-family: 'Pontano Sans', sans-serif;
body {
  background-color: #585858; 
}
.header-wrapper {
  width: 100%;
  background-color: #959393;
  .header {
    font-family: 'Stint Ultra Expanded', cursive;
    width: 960px;
    height: 100px;
    margin: auto;
    .logo-wrapper{
        float: left;
        width: 200px;
        height: 100px;
        background-color: #cccccc;
      .logo {
        border-radius: 50px;
        background-color: #666666;
        width: 90px;
        height: 90px;
        margin-top: 5px;
        margin-left: 55px;
        font-size: 56px;
        font-family: 'Pontano Sans', sans-serif;
        color: #abdb25;
        .t {
          margin-left: 16px;
          padding-top: 10px;
          float: left;
        }
        .t2 {
          margin-top: 20px;
          float: left;
        }
      }
    }
  .header-main {
    float: left;
    // background-color: blue;
      h1 {
      color: black;
      text-align: left;
      font-size: 40px;
      font-variant: small-caps;
      margin-bottom: 0;
      margin-top: 56px;
      margin-left: 10px;
      } 
    }
  }
}//header-wrapper

.container {
  width: 960px;
  height: 100%;
  margin: auto;
  clear:both;
  margin-top: -10px;
  .sidebar-wrapper{
    float: left;
    width: 200px;
    height: 600px;
    background-color: #cccccc;
    
    .empty{
      width: 200px;
      height: 50px;
      background-color: #666666;
    }
    .sidebar {
      // margin-top: 20px;
      // margin-bottom: 20px;
      // width: auto;
      // border-radius: 5px;
      // height: 50px;
      // line-height: 50px;
      .menu {
       padding: 0;
        li{
         list-style: none;
         padding-left: 20px;
         padding-right: 20px;
         border-radius: 5px;
         margin-bottom: 10px;
         .roundedOne {
            width: 28px;
            height: 28px;
            background: #fcfff4;

            background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
            background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
            background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
            background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
            background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
            margin: 20px auto;

            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;

            -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
            -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
            box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
            position: relative;
          }

          .roundedOne label {
            cursor: pointer;
            position: absolute;
            width: 20px;
            height: 20px;

            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            left: 4px;
            top: 4px;

            -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
            -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
            box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

            background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
            background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
            background: -o-linear-gradient(top, #222 0%, #45484d 100%);
            background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
            background: linear-gradient(top, #222 0%, #45484d 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
          }

          .roundedOne label:after {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            opacity: 0;
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            background: #00bf00;

            background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
            background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
            background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
            background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
            background: linear-gradient(top, #00bf00 0%, #009400 100%);

            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            top: 2px;
            left: 2px;

            -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
            -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
            box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
          }

          .roundedOne label:hover::after {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            filter: alpha(opacity=30);
            opacity: 0.3;
          }

          .roundedOne input[type=checkbox]:checked + label:after {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: alpha(opacity=100);
            opacity: 1;
          }
        }
      }
    }
  }
  .mainContent {
    float: left;
    margin-top: 0px;
    width: 730px;
    background-color: #666666;
    .tabs{
      margin: 0 0 15px;
      height: 50px;
      background-color: #60767e;
      width: 100%;
      // 
    }
    .mainTable {
      float: left;
      background-color: #cccccc;
      margin-left: 10px;
      margin-left: 10px;
      font-size: 14px;
      min-width: 700px;
      table {
        width: 100%;
        // border: 1px solid #9A9C9F;
        border-radius: 3px;
        thead {
          border-bottom: 2px solid #575A61;
          background-color: #77AADD;
          color: #0F0F0D;
          line-height: 30px;
        }
        tbody tr{
          height: 20px;
          padding: 5px;
          td {
            padding-right: 5px;
            img {
              width: 75px;
              height: auto;
            }
          }
        }
      }
    }
  }
}//container

