{{!-- <li> --}}
<div class="roundedOne"> 
  <input type="checkbox" value="None" id="roundedOne" class="dept" name="{{name}}" / ><p>{{name}}</p>
  <label for="roundedOne"></label>
  
</div>
{{!-- </li> --}}

<!-- Rounded ONE -->
{{!-- <div class="roundedOne">
  <input type="checkbox" value="None" id="roundedOne" name="{{name}}" />
  <label for="roundedOne">{{name}}</label>
</div> --}}