{{!-- <li> --}}
<div class="dept"> 
  <input type="checkbox" value="None" class="dept" name="{{name}}" / ><p>{{name}}</p>
  <label for="dept"></label>
  
</div>
{{!-- </li> --}}

<!-- Rounded ONE -->
{{!-- <div class="roundedOne">
  <input type="checkbox" value="None" id="roundedOne" name="check" />
  <label for="roundedOne"></label>
</div> --}}