{{!-- <li> --}}
<div class="dept">
  <input type="checkbox" value="None" id="roundedOne" class="dept-btn" name="{{name}}" / >
  <label for="dept"></label><p>{{name}}</p>
</div>
{{!-- </li> --}}

<!-- Rounded ONE -->
{{!-- <div class="roundedOne">
  <input type="checkbox" value="None" id="roundedOne" name="check" />
  <label for="roundedOne"></label>
</div> --}}