<div class="contact-preview">
  <div class="photo">
    <img width="100" src="{{photo}}" alt="{{name}}">
  </div>
  <div class="info">
    <strong>Name:</strong>
    <span>{{name}}</span>
  </div>
  <div class="more">
    <a href="#" data-contact-id={{contact_id}}>Details</a>
  </div>
</div>